// ==========================================================================
// Base Styles
// ==========================================================================

.callout {
  text-align: center;
  display: block;
  width: 100%;
}
